<!DOCTYPE html>
<html lang="fa" dir='rtl'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- menu.html -->
    <div id="hot">
        {% for product in products %}
            {%if product.category == "نوشیدنی های گرم" %}
                <div class="product">
                    <h3>{{ product.name }}</h3>
                    <img src="{{ product.image_url }}" alt="{{ product.name }}">
                    <p>Price: ${{ product.price }}</p>
                    <input type="number" name="quantity" value="1" min="1">
                    <button onclick="orderProduct('{{ product.name }}')">سفارش</button>
                </div>
            {%endif%}
        {% endfor %}
    </div>
    <div id="cold">
        {% for product in products  %}
            {% if product.category == "نوشیدنی های سرد" %}
                <div class="product">
                    <h3>{{ product.name }}</h3>
                    <img src="{{ product.image_url }}" alt="{{ product.name }}">
                    <p>Price: ${{ product.price }}</p>
                    <input type="number" name="quantity" value="1" min="1">
                    <button onclick="orderProduct('{{ product.name }}')">سفارش</button>
                </div>
            {%endif%}
        {% endfor %}
    </div>
    <div id="cake">
        {% for product in products %}
            {% if product.category == "کیک" %}
                <div class="product">
                    <h3>{{ product.name }}</h3>
                    <img src="{{ product.image_url }}" alt="{{ product.name }}">
                    <p>Price: ${{ product.price }}</p>
                    <input type="number" name="quantity" value="1" min="1">
                    <button onclick="orderProduct('{{ product.name }}')">سفارش</button>
                </div>
            {%endif%}
        {% endfor %}
    </div>
    <div id="dam">
        {% for product in products  %}
            {% if product.category == "دمنوش" %}
                <div class="product">
                    <h3>{{ product.name }}</h3>
                    <img src="{{ product.image_url }}" alt="{{ product.name }}">
                    <p>Price: ${{ product.price }}</p>
                    <input type="number" name="quantity" value="1" min="1">
                    <button onclick="orderProduct('{{ product.name }}')">سفارش</button>
                </div>
            {%endif%}
        {% endfor %}
    </div>
    

</body>
</html>
